* { box-sizing: border-box }

body{
    background:#b4b4b4;
}

#registration {

    font-family:'Open Sans Condensed', sans-serif;
    width: 400px;
    min-width:250px;
    margin: 20px auto;
    position: relative;

}

#registration .fieldset {
    background-color:#d5d5d5;
  
    border-radius: 3px;
    
}

#registration legend {
    text-align: center;
    background: #364351;
    width: 100%;
    padding: 30px 0;
    border-radius: 3px 3px 0 0;
    color: white;
  font-size:2em;
}

.fieldset form{
    border:1px solid #2f2f2f;
    margin:0 auto;
    display:block;
    width:100%;
    padding:30px 20px;
    box-sizing:border-box;
    border-radius:0 0 3px 3px;
}

.placeholder #registration label {
    display: none;
}

.no-placeholder #registration label{
    margin-left:5px;
      position:relative;
      display:block;
      color:grey;
      text-shadow:0 1px white;
      font-weight:bold;
}

::-webkit-input-placeholder { text-shadow:1px 1px 1px white; font-weight:bold; }

::-moz-placeholder { text-shadow:0 1px 1px white; font-weight:bold; }

:-ms-input-placeholder { text-shadow:0 1px 1px white; font-weight:bold; }

#registration input[type=text] {
    padding: 15px 20px;
    border-radius: 1px;
    margin:5px auto;
    background-color:#f7f7f7;
    border: 1px solid silver;
  
    -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.2), 0 1px rgba(255,255,255,.8);
    width: 100%;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition:background-color .5s ease;
  -moz-transition:background-color .5s ease;
  -o-transition:background-color .5s ease;
  -ms-transition:background-color .5s ease;
  transition:background-color .5s ease;

}

.no-placeholder #registration input[type=text] {
    padding: 10px 20px;
}


#registration input[type=text]:active, .placeholder #registration input[type=text]:focus {
    outline: none;
    border-color: silver;
    background-color:white;
}


#registration input[type=submit] {
    font-family:'Open Sans Condensed', sans-serif;
    text-transform:uppercase;
    outline:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: #5C8CA7;
    padding: 10px;
    color: white;
    border: 1px solid #3498db;
    border-radius: 3px;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
    position:relative;
    top:0;
}

#registration input[type=submit]:hover {
    background-color: #2980b9;
}

#registration input[type=submit]:active {
    background:#5C8CA7;
}

.parsley-error-list{
    background-color:#C34343;
    padding: 5px 11px;
    margin: 0;
    list-style: none;
    border-radius: 0 0 3px 3px;
    margin-top:-5px;
      margin-bottom:5px;
      color:white;
      border:1px solid #870d0d;
      border-top:none;
        -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position:relative;
      top:-1px;
      text-shadow:0px 1px 1px #460909;
        font-weight:700;
      font-size:12px;
}


.parsley-error{
    border-color:#870d0d!important;
    border-bottom:none;
}

#registration select{
    width:100%;
    padding:5px;
}

::-moz-focus-inner {
    border: 0;
}

h2 {

    text-align: center;
}
  
.users-table {
    width: 90%;
    margin: 0 5%;
    text-align: left;
}

.user-name, 
.artist-band-name,
.song 
{

    padding: 0.5em;
}

body {
    display: flex;
    height: 100vh;
    background: hsl(232, 22%, 90%);
    color: rgba(95, 17, 232, 1);
}

body > *  {
    margin: auto;
}

th {

    text-align: center;
}


tbody tr {
    transition: background-color 0.2s 0.2s linear, opacity 0.3s linear;
    background-color: rgba(255, 255, 255, 0);
    opacity: 0.6;
}

tbody tr:hover {
    transition: background-color 0.2s 0s linear, opacity 0.3s linear;
    background-color: rgba(255, 255, 255, 1);
    opacity: 1;
}

td {
    /* 3. Scale the text using transform on hover */
    transition: transform 0.4s 0.2s ease-out;
    transform-origin: center left;
}

td:hover {
    transition: transform 0.4s ease-out;
    transform: scale(1.05);
}

.buttons {

    display: flex;
    flex-direction: row;
    margin: 13.5px;
    padding: 10px;
    
    
   
}

.edit {

    margin-right: 10px;
}

.edit, .delete {

  
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #3498db;
    background-color: #5C8CA7;
    color: white;
}



  